*,
*::before,
*::after,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  position: relative;
  height: 100vh;
}
:root {
  font-size: 14px;
}
header {
  height: auto;
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1.5em 0.5em 1.5em;
  z-index: 50;
}
.header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.hamburger-icon-cont {
  height: 100%;
  display: flex;
  opacity: 0;
  cursor: pointer;
  align-items: center;
  padding-right: 10px;
}
.logo-cont {
  display: flex;
  align-items: center;
  min-height: 100%;
}
.logo-left {
  height: 100%;
  display: flex;
  align-items: center;
}
.logo-left .google-logo {
  height: 100%;
  display: flex;
  align-items: center;
  transform: translateY(2.8px);
}
.logo-right {
  height: 100%;
  display: flex;
  align-items: center;
}
.logo-right span {
  height: 100%;
  display: flex;
  align-items: center;
  color: #606368;
  padding-left: 5px;
  font-size: 21px;
  font-family: "Product Sans", Arial, Helvetica, sans-serif;
}
.header-right {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.app-menu {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.app-menu svg,
.plus-icon svg {
  padding: 0.3em;
  transition: all 200ms linear;
}
.plus-icon {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-avtar {
  height: 50px;
  display: flex;
  align-items: center;
}
.app-menu svg:hover,
.plus-icon svg:hover,
.user-avtar img:hover {
  background-color: #f0f0f0;
  border-radius: 50%;
}
.app-menu svg,
.plus-icon svg {
  height: 100%;
  display: flex;
  align-items: center;
}
.user-avtar,
.app-menu {
  padding-left: 1em;
}
.user-avtar img {
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 100%;
  align-items: center;
}
.slider-open {
  transition: opacity 500ms linear, transform 400ms linear;
  height: 100%;
  transform: scale(0, 1);
  grid-template-columns: auto;
  grid-template-rows: 1fr 8fr 0.76fr;
  grid-template-areas:
    "slider-top"
    "slider-middle"
    "slider-bottom";
  width: 300px;
  z-index: 99;
  position: absolute;
  transform-origin: left;
  opacity: 0;
  background-color: #fff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
}
.slider-open svg {
  fill: #606368;
}
.slider-top .icon-link-cont:nth-child(2):hover {
  background-color: #eeeeee;
}
.slider-top {
  grid-area: slider-top;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e0e0e0;
}
.icon-link-cont {
  padding: 1.5em 1em 1em 1.5em;
  display: flex;
}
.slider-link {
  margin-left: 1em;
}
.slider-link a {
  color: #484b4e;
  text-decoration: none;
  font-weight: 450;
}
.slider-title-up {
  margin-left: 0.7em;
  font-size: 1.5em;
  margin-top: 1.3em;
}
.slider-title-up h6 {
  color: #81868a;
  font-weight: 430;
}
.slider-middle-class-cont {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  padding: 1em 1em 0.8em 1.5em;
}
.slider-middle-class-cont:hover {
  background-color: #eeeeee;
}
.left-img {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}
.left-img img {
  width: 35px;
  border-radius: 50%;
}
.left-txt-slider {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}
.slider-title {
  font-size: 0.9em;
  color: #3d4043;
}
.slider-title p {
  font-weight: 450;
}
.slider-title-sub {
  font-size: 0.9em;
  color: #606368;
}
.slider-middle {
  grid-area: slider-middle;
}
.slider-bottom {
  grid-area: slider-bottom;
  border-top: 1px solid #e0e0e0;
}

main {
  z-index: 40;
  padding: 6.3em 0em 3em 1.5em;
  height: 100%;
  width: 100%;
  position: relative;
}
.main-upper-links {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.link-upper-div {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0.4em;
  margin-right: 2em;
  margin-bottom: 1.7em;
}
.link-upper-div:hover {
  background-color: #f8fafe;
}
.link-upper-div .link {
  padding-left: 0.5em;
  text-decoration: none;
  color: #3871e0;
  font-weight: 560;
}
.class-cards-cont {
  display: flex;
  flex-wrap: wrap;
}
.class-cards-cont > * {
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}
.card {
  font-size: 13px;
  cursor: pointer;
  display: grid;
  border: 1px solid #dadce0;
  border-radius: 10px;
  overflow: hidden;
  white-space: nowrap;
  grid-template-rows: 1fr 1.5fr 0.7fr;
  grid-template-columns: auto;
  grid-template-areas:
    "top-card"
    "middle-card"
    "bottom-card";
  height: 300px;
  width: 310px;
  transition: 0.3s;
}
.card:hover {
  border: none;
  scale: 1.02;
}
.card-top {
  grid-area: top-card;
  background: linear-gradient(to left, rgb(140, 223, 140), rgb(27, 135, 27));
  position: relative;
  padding: 1.3em;
  color: #fff;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.absolute {
  position: absolute;
  top: 50px;
  right: 20px;
  border-radius: 50%;
}
.card-title h1 {
  font-weight: 450;
  font-family: "Poppins", sans-serif;
}
.card-title-classes h2 {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.card-top-bottom .card-title-teacher h3 {
  font-weight: 450;
  font-family: "Poppins", sans-serif;
}
.card-top-top:hover {
  text-decoration: underline;
  cursor: pointer;
}
.card-middle {
  grid-area: middle-card;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 1.3em;
}
.date h4 {
  color: #737373;
  font-weight: 450;
  font-family: "Poppins", sans-serif;
}
.card-middle-cont {
  width: 100%;
}
.hw-desc h5 {
  font-weight: 450;
  font-family: "Poppins", sans-serif;
  color: #2e2e2e;
  text-overflow: ellipsis;
}
.card-bottom {
  grid-area: bottom-card;
  padding: 1.3em;
  border-top: 1px solid #dadce0;
  width: 100%;
}
.card-bottom-icon-cont {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.card-bottom-icon-cont .link {
  padding-right: 1em;
}
.user-avtar img {
  height: 34px;
  width: 34px;
}
.hamburger-icon-cont {
  display: flex;
  opacity: 1;
  cursor: pointer;
  align-items: center;
  padding-right: 10px;
}
.slider-open.show-slider {
  transform: scale(1, 1);
  opacity: 1;
}
@media (max-width: 700px) {
.main-upper-links, .class-cards-cont{
  justify-content: space-around;
  font-size: 10px;
}
header{
  flex-direction: column-reverse;
}
}
