.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    margin: 0px;

    height: 70vh;
    width: 70vw;
}

.content{
    display: flex;
    
    gap: 10px;
    width: 30vw;
}

.headlines{
    display: flex;
    flex-direction: column;
    
    width: 70vw;
}

.headline{
    width: 100vw;
    height: auto;

    display: flex;
    flex-direction: column;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.poster{
    background-color: rgb(2, 2, 82);
    border-radius: 5%;

    display: flex;
    
    flex-direction: column;
    justify-content: flex-end;
    
    gap: 5px;
    padding: 3%;
    height: 30vh;
    width: 70vw;
}

.row{
    display: flex;
    justify-content: space-between;
    gap: 0px;
    padding: 3%;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    width: 100%;
}

.rows{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    width: 70%;
    height: fit-content;

    gap: 10px;
}

.text{
    color: rgb(223, 221, 218);
}

.right-side{
    display: flex;
    flex-direction: column;
}

.link-box{
    border: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.assingments{
    display: flex;
    flex-direction: column;

    gap: 3px;
}

.icon{
    height: 50px;
    width: 50px;
}

.single-assingment{
    display: flex;
    flex-direction: column;
}